*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a191f;
    font-family: 'Open Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 60px;
}

.header__logo{
    font-size: 32px;
    text-decoration: none;
    color: aliceblue;
}

.header__search{
    padding: 8px;
    border: 2px solid aliceblue;
    border-radius: 5px;
    outline: none;
}

.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie{
    width: 240px;
    margin: 10px;
    position: relative;
}

.movie__cover-inner{
    position: relative;
    height: 360px;
}

.movie_cover{

}

.movie__cover--darkened{

}